<!DOCTYPE html>
<html xmlns:v-show="http://www.w3.org/1999/xhtml">
<head>
    <title>角色管理</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/font-awesome.min.css">
    <link rel="stylesheet" href="../public/plugins/bootstrap-table/bootstrap-table.min.css">
    <link rel="stylesheet" href="../public/plugins/ztree/css/metroStyle/metroStyle.css">
    <link rel="stylesheet" href="../public/css/main.css">

</head>
<body>
<div id="dtapp" v-cloak>
    <!--角色列表页-->
    <div v-show="showList">
        <!--//功能按钮-->
        <div id="toolbar">
            <button class="btn btn-success" type="button" @click="add">
                <i class="fa fa-plus"></i>&nbsp;&nbsp;
                <span class="bold">添加</span>
            </button>
            <button class="btn btn-success" type="button" @click="update">
                <i class="fa fa-pencil-square-o"></i>&nbsp;&nbsp;
                <span class="bold">修改权限</span>
            </button>
            <button class="btn btn-danger" type="button" @click="del">
                <i class="fa fa-remove"></i>&nbsp;&nbsp;
                <span class="bold">删除</span>
            </button>
        </div>
        <!--//信息列表-->
        <table id="table"></table>
    </div>
    <!--权限列表页-->
    <div v-show="false" id="menulist">
        <table id="table1"></table>
    </div>
    <!--表单页-->
    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
            <!--角色名称-->
            <div class="form-group">
                <div class="col-sm-2 control-label">角色名称</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="role.roleName" placeholder="角色名称"/>
                </div>
            </div>
            <!--角色备注-->
            <div class="form-group">
                <div class="col-sm-2 control-label">角色备注</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="role.remark" placeholder="备注"/>
                </div>
            </div>
            <!--提交按钮-->
            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>


<script src="../public/libs/jquery.min.js"></script>
<script src="../public/plugins/layer/layer.js"></script>
<script src="../public/libs/bootstrap.min.js"></script>
<script src="../public/libs/vue.min.js"></script>
<script src="../public/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="../public/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="../public/plugins/ztree/jquery.ztree.all.min.js"></script>
<script src="../public/js/common.js"></script>
<script src="../public/js/sys/role.js"></script>
</body>
</html>