<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yb.dao.SysPaperMapper">
  <resultMap id="BaseResultMap" type="com.yb.pojo.SysPaper">
    <result column="paper_id" jdbcType="INTEGER" property="paperId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="tea_id" jdbcType="INTEGER" property="teaId" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="maker" jdbcType="INTEGER" property="maker" />
    <result column="creat_time" jdbcType="TIMESTAMP" property="creatTime" />
  </resultMap>
  <sql id="_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By__Where_Clause">
    <where>
      <foreach collection=".oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    paper_id, name, tea_id, state, maker, creat_time
  </sql>
  <select id="selectBy" parameterType="com.yb.pojo.SysPaper" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_paper
    <if test="_parameter != null">
      <include refid="_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteBy" parameterType="com.yb.pojo.SysPaper">
    delete from sys_paper
    <if test="_parameter != null">
      <include refid="_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yb.pojo.SysPaper">
    insert into sys_paper (paper_id, name, tea_id, 
      state, maker, creat_time
      )
    values (#{paperId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{teaId,jdbcType=INTEGER}, 
      #{state,jdbcType=BIT}, #{maker,jdbcType=INTEGER}, #{creatTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yb.pojo.SysPaper">
    insert into sys_paper
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="paperId != null">
        paper_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="teaId != null">
        tea_id,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="maker != null">
        maker,
      </if>
      <if test="creatTime != null">
        creat_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="paperId != null">
        #{paperId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="teaId != null">
        #{teaId,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        #{state,jdbcType=BIT},
      </if>
      <if test="maker != null">
        #{maker,jdbcType=INTEGER},
      </if>
      <if test="creatTime != null">
        #{creatTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countBy" parameterType="com.yb.pojo.SysPaper" resultType="java.lang.Long">
    select count(*) from sys_paper
    <if test="_parameter != null">
      <include refid="_Where_Clause" />
    </if>
  </select>
  <update id="updateBySelective" parameterType="map">
    update sys_paper
    <set>
      <if test="record.paperId != null">
        paper_id = #{record.paperId,jdbcType=INTEGER},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.teaId != null">
        tea_id = #{record.teaId,jdbcType=INTEGER},
      </if>
      <if test="record.state != null">
        state = #{record.state,jdbcType=BIT},
      </if>
      <if test="record.maker != null">
        maker = #{record.maker,jdbcType=INTEGER},
      </if>
      <if test="record.creatTime != null">
        creat_time = #{record.creatTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By__Where_Clause" />
    </if>
  </update>
  <update id="updateBy" parameterType="map">
    update sys_paper
    set paper_id = #{record.paperId,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      tea_id = #{record.teaId,jdbcType=INTEGER},
      state = #{record.state,jdbcType=BIT},
      maker = #{record.maker,jdbcType=INTEGER},
      creat_time = #{record.creatTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By__Where_Clause" />
    </if>
  </update>

</mapper>